body {
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
}
h1 {
    text-align: center;
}
nav {
    grid-column: 1/span 2;
    grid-row: 1;
}
h1 {
    grid-column: 1/span 2;
    grid-row: 2;
}
section:nth-child(1)